<footer class="border-top footer text-muted">
    <div class="container">
        &copy; Manvi Prakash 101488862 <br/>
        Rashi Bedi 101485443<br/>
        Hetvi Patel 101508910
        <a asp-area="" asp-controller="Home" asp-action="About">About</a>
    </div>
</footer>